extends layout

block inner-script
	script(type="text/javascript", src='/javascripts/transaction.js')
	script
		$(function() {
			$( "#record_date" ).datepicker();
			$( "#taken_date" ).datepicker();
		});


block content
	h1= title
	p #{book.name}
	div
		div.row-fluid.input-query-container(data-inline=true)
			form(action='/book/#{book.uuid}/transaction', method='POST')
				div.input-fields-container.span12
					div.span10
						div.row-fluid
							div.fields.input-prepend.span2
								label.span4.add-on Type
								select.span8(name='type')
									- for v, t in types
										option(value=t) #{v}
							div.fields.input-prepend.span2
								label.span4.add-on Tags
								input.span8(type='text', id='tags', name='tags')
							div.fields.input-prepend.span1
								label.span4.add-on $
								input.span8(type='text', id='money', name='money')
							div.fields.input-prepend.span2
								label.span4.add-on description
								input.span8(type='text', id='description', name='description')
							div.fields.input-prepend.span1
								label.span4.add-on Account
								input.span8(type='text', id='account', name='account')
							div.fields.input-prepend.span2
								label.span4.add-on Target-account
								input.span8(type='text', id='target', name='target')
						div.row-fluid
							div.fields.span4
								label.checkbox Floating transaction?
									input(type='checkbox', id='floating')
					div.span1
						div.row-fuild
							div.fields.input-prepend.span12
								a.span4.add-on
									i.icon-calendar.icon-white
								input.span8(type='text', id='record_date', name='record_date')
						div.row-fuild
							div.fields.input-prepend.span12
								label.span4.add-on Taken date
								input.span8(type='text', id='taken_date', name='taken_date')
					div.span1
						input.fields.btn.btn-primary(type='submit', value='ADD')

		div.row-fluid.list(data-inline=true, id='tabs')
			div.span2
				div.tabbable.tabs-left
					ul.nav.nav-tabs
						li.active
							a(href='/book/#{book.uuid}') All accounts
						for account in accounts
							li
								a(href='/book/#{book.uuid}/#{account.name}') #{account.name}

			div.span6
				div.row-fluid
					div(class='view')
						div(class='head')
							div(class='span2 type') Type
							div(class='span2 amount') Amount
							div(class='span2 sum') Sum
							div(class='span2 tags') Tags
							div(class='span2 description') Description
							div(class='span2 record_date') Date
				- var sum = 0 
				for transaction in transactions
					- var typeClass
					case transaction.type
						when 'Expense'
							- sum -= transaction.money
							- typeClass = 'expense'
						when 'Income'
							- sum += transaction.money
							- typeClass = 'income'
						when 'BalanceReset'
							- sum = transaction.money
							- typeClass = 'reset'
						when 'Transfer'
							div.tranfer
							- sum +=0
							- typeClass = 'transfer'
					div.row-fluid
						div(class='view')
							div(data-inline=true, class=[typeClass])
								div(class='span2 type')
									| #{transaction.type}
								div(class='span2 amount')
									| #{transaction.money}
								div(class='span2 sum')
									| #{sum}
								div(class='span2 tags')
									- var tags = transaction.tags
									for tag in tags
										span #{tag.content}
								div(class='span2 description')
									| #{transaction.description}
								div(class='span2 record_date')
									| #{transaction.record_time.toDateString()}

			div.span4